.welcome-text {
  --bg-size: 200%;
  --color-one: hsl(207, 90%, 55%);
  --color-two: hsl(286, 95%, 55%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
